<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list ion-padding>
    <ion-item *ngFor="let video of playList" button (click)="play(video.id)">
      <ion-thumbnail slot="start">
        <img src="../../assets/imgs/artogrol.jpg" />
      </ion-thumbnail>
      <ion-label class="ion-text-wrap">
        {{video.title}}
      </ion-label>
    </ion-item>
  </ion-list>
  <div id="dvPlayer">
  </div>
</ion-content>
